<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
     <!-- <img src="/images/camera.svg"> -->
     <% if (user) { %> 
        <p align="center">Welcome <%= user.name %></p>
     <a href="/cafes/new" <%- title === 'Add Cafe' ? 'class="active"' : '' %>>Add a Café</a>
     <% } else { %>
        <p>Not logged in.</p>
     <% } %>
     <a href="/cafes" <%- title === 'All Cafes' ? 'class="active"' : '' %>>All Cafés</a>
    </nav>
   <main>
    <h1><%= title %></h1>