<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>homeBase: a café tracker in rural central texas</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>homeBase: a café tracker</title>

</head>
<body>
    <h1>List of Cafés</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Hours</th>
            <th>Open Sundays</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% cafes.forEach(cafe => { %>
                <tr>
                    <td><%= cafe.name %></td>
                    <td><%= cafe.address %></td>
                    <td><%= cafe.hours %></td>
                    <td><%= cafe.openSundays ? 'Yes' : 'No' %></td>
                    <td>
                        <a href="/cafes/<%= cafe._id %>">Details</a>
                        <form action="/cafes/<%= cafe._id %>?_method=DELETE" class="delete-form" method="POST">
                             <button style="border: none; color: #039be5" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<%- include('../partials/footer') %>
</body>
</html>