<%- include('../partials/header') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>homeBase: a café tracker in rural central texas</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<section id="show-page">
    <div><%= cafe.name %></div>
    <div><%= cafe.address %></div>
    <div><%= cafe.hours %></div>
    <div>Open Sundays: <%= cafe.openSundays ? 'Yes' : 'No' %></div>
    <div>Reviewed by: <%= cafe.addedBy.name %></div>
    <a href="/cafes/<%=cafe._id%>/edit">Update This Cafe</a>
  </section><br><br>
<!-- new markup below -->
<h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/cafes/<%= cafe._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  
  <input type="submit" value="Add Review">
</form>

<!-- below, rendering reviews -->

<% if (cafe.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <% cafe.reviews.forEach(function(r) { %>
          <tr>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
</body>
  <%- include('../partials/footer') %>